<html>
  <head>
    <meta charset="utf-8">
    <title>Face Comaprison</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <div class="card">
      <img src="" id="img-preview" />
      <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Select an Image
      </label>
    </div>

    <img id="image-container" src="http://res.cloudinary.com/djjvwjjdg/image/upload/v1519941350/sample.jpg"></img>

    <img id="image-container2" src="http://res.cloudinary.com/djjvwjjdg/image/upload/v1519941350/sample.jpg"></img>

    <div class="card">
      <label class="file-upload-container">
        Celeb look alike
      </label>
      <div id="celeb-image-return"></div>
    </div>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/scripts/app.js"></script>
  </body>
</html>
